body {
    font-family: sans-serif;
    font-size: 12pt;
    background-color: white;
}

a {
    color: #884400;
}

a:hover {
    color: #BB8811;
}

p, dd, li {
    font-family: serif;
    line-height: 140%;
}

p {
    margin-top: 1ex;
    text-align: justify;
}

img {
    border: none;
}

h1, h2, h3, h2 a, h3 a {
    margin-top: 3ex;
    margin-bottom: 1ex;
    font-weight: bold;
    color: #BB8811;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

dl.function > dt,
dl.class > dt {
}

dl, dt {
    font-size: 1em;
}

code, pre, tt {
    font-size: 1em;
}

code.descclassname, code.descname{
    font-family: monospace;
}

code.descname {
    color: #884400;
    font-weight: bold;
    font-size: 120%;
}

.versionmodified {
    font-style: italic;
}

.sourcecode, .highlight {
    border-left-style: solid;
    border-left-color: #B81;
    margin-left: 1em;
    border-left-width: 0.08em;
    padding-left: 1em;
}

th {
    text-align: left;
}

table.field-list th {
    padding: 0px;
    margin: 0px;
}

.field-list ul {
    margin: 0px 0px 0px 0.5em;
    padding-left: 1em;
}

.first {
    margin-top: 0 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.middle {
    display: inline-block;
    text-align: center;
}

.prev-next {
    margin-top: 3ex;
    clear: both;
    text-align: center;
    text-wrap: none;
}

.footer {
    margin-top: 7ex;
    font-size: 80%;
    opacity: 0.5;
    clear: both;
}
