@import url(master.css);

@media only screen {
    body {
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px;
        width: 100%;
        max-width: 45em;
        padding: 0.5em;
    }
}

@media only screen and (max-width: 400px) {
    body { font-size: 0.8em; }
}
