@media only screen {
    body {
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px;
        width: 100%;
        max-width: 45em;
        padding: 0.5em;
    }
}

@media only screen and (max-width: 400px) {
    body { font-size: 0.8em; }
}

body {
    font-family: sans-serif;
    background-color: white;
}

a {
    color: #884400;
}

a:hover {
    color: #BB8811;
}

p, dd, li {
    font-family: serif;
    line-height: 140%;
}

p {
    margin-top: 1ex;
    text-align: justify;
}

li {
    margin: 0.8ex 0 0.8ex 0;
}

img {
    border: none;
}

h1, h2, h3, h1 a, h2 a, h3 a {
    margin-top: 3ex;
    margin-bottom: 1ex;
    font-weight: bold;
    color: #BB8811;
    text-decoration: none;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
}

a.headerlink {
    visibility: hidden;
    text-decoration: none;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
    color: #884400;
}

.contents {
    margin-bottom: 2ex;
    color: #884400;
/*    color: #BB8811;*/
}

.contents a {
    font-family: sans-serif;
}

.contents .topic-title {
    display: none;
}

.contents ul {
    margin: 0px;
    padding: 0px 0px 0px 1em;
}

.contents li {
    margin: 1ex 0px 0px 0px;
    padding: 0px;
    list-style: none;
}

dl.docutils dt {
    margin-bottom: 0.5ex;
    font-family: sans-serif;
    font-weight: bold;
}

dl.docutils dd {
    margin: 0px 0px 0px 2em;
    padding 0px;
}

dl, dt {
    font-size: 1em;
}

code, pre, tt {
    font-size: 1em;
    line-height: 140%;
    font-family: monospace;
}

code.descname {
    color: #884400;
    font-weight: bold;
    font-size: 120%;
}

dl.class > dt > .property {
    font-weight: bold;
}

.literal {
    background-color: #F0F0F0;
    padding: 0.16em;
}

a .docutils.literal {
    background: none;
}

.versionmodified {
    font-style: italic;
}

.sourcecode, .highlight {
    border-left-style: solid;
    border-left-color: #B81;
    margin-left: 1em;
    border-left-width: 0.08em;
    padding-left: 1em;
}

th {
    text-align: left;
}

.field-name {
    margin: 0px;
    padding: 0px 0.3em 0px 0px;
}

.field-body {
    margin: 0px;
    padding: 0px;
}

.field-list ul {
    margin: 0px 0px 0px 0.5em;
    padding-left: 1em;
}

.field-list li {
    margin: 0;
}

.first {
    margin-top: 0 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.middle {
    display: inline-block;
    text-align: center;
}

.prev-next {
    margin-top: 3ex;
    clear: both;
    text-align: center;
    text-wrap: none;
}

.footer {
    margin-top: 7ex;
    font-size: 80%;
    opacity: 0.5;
    clear: both;
}
